/* common
 * ------------------------------------------------------------------------------------------ */

	body				{ background: #f8f8f8 url("../images/bg/bg_index1.jpg") no-repeat top; }
	
	h2					{ font: 15px/1.5 Tahoma,Verdana,"Microsoft Yahei"; }
	
	.input_radio		{ vertical-align: middle; }

	.a_bt				{ display: block; padding: 0 13px; line-height: 40px; color: #f8f8f8; background-color: #444; }
	.a_bt:hover			{ text-decoration: none; color: #eee; background-color: #555; }
	.a_no				{ color: #333; }
	.a_no:hover,
	.a_no:visited		{ text-decoration: none; }
	
	.single_bt1			{ display: block; line-height: 35px; background-color: #c99700; text-align: center; color: #fff; }
	.single_bt2			{ display: block; line-height: 30px; background-color: #eee; text-align: center; color: #555; }
	
	.w730				{ width: 730px; }
	.w270				{ width: 270px; }
	
	.w240				{ width: 240px; }
	.w135				{ width: 135px; }
	.w335				{ width: 345px; }
	
	.bg_fff				{ background-color: #fff; }
	.bg_box				{ background-color: rgba(245,245,245,0.7); }
	
	.text_r				{ text-align: right; }
	.text_l				{ text-align: left; }
	
	.shadow_l_5			{ -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
	.shadow_l_10		{ -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); }
	.shadow_n_5			{ -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
	.shadow_n_5b		{ -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); }
	
	.circle_80			{ width: 80px; height: 80px; line-height: 80px; -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px; } 
	.circle_100			{ width: 100px; height: 100px; line-height: 100px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; } 
	.circle_120			{ width: 130px; height: 130px; line-height: 130px; -moz-border-radius: 65px; -webkit-border-radius: 65px; border-radius: 65px; } 
	.circle_150			{ width: 160px; height: 160px; line-height: 160px; -moz-border-radius: 80px; -webkit-border-radius: 80px; border-radius: 80px; } 
	.circle_200			{ width: 220px; height: 220px; line-height: 220px; -moz-border-radius: 110px; -webkit-border-radius: 110px; border-radius: 110px; } 

	
	.radius_6			{ -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; } 

/* layout
 * ------------------------------------------------------------------------------------------ */

	.container			{ width: 1000px; margin: 0 auto; }

	.header				{ width: 100%; height: 40px; background-color: #484848; position: absolute; left: 0; }
	
	.left_bar			{ width: 270px; height: auto; float: left; }
	.main				{ width: 730px; height: auto; float: left; }
	
/* header
 * ------------------------------------------------------------------------------------------ */	
 
	.logo				{ position: absolute; top: 50px; margin-left: 10px; z-index: 2500; }
	.top_bar			{ width: 1000px; height: 55px; overflow: hidden; }
	.nav_bar			{ width: 100%; height: 40px;  }
	.nav_bar li			{ float: left; }
	

	
	
	
	
	
	