
/* grid.css */
.column { float: left; margin-right: 10px; padding: 0; }

.span-5  { width: 190px;}
.span-6  { width: 215px;}
.span-7  { width: 270px;}
.span-8  { width: 310px;}
.span-9  { width: 350px;}
.span-10 { width: 390px;}
.span-11 { width: 430px;}
.span-12 { width: 470px;}
.span-13 { width: 510px;}
.span-14 { width: 550px;}
.span-15 { width: 590px;}
.span-16 { width: 630px;}
.span-17 { width: 670px;}
.span-18 { width: 710px;}
.span-19 { width: 750px;}
.span-20 { width: 790px;}
.span-21 { width: 830px;}
.span-22 { width: 870px;}
.span-23 { width: 910px;}
.span-24 { width: 950px; margin: 0; }

.last { margin-right: 0; }