#slideshow_wrapper {
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	BACKGROUND-COLOR: #121212;
	PADDING-LEFT: 0px;
	WIDTH: 978px;
	PADDING-RIGHT: 0px;
	HEIGHT: 286px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}
#slideshow_footbar {
	Z-INDEX: 5;
	POSITION: absolute;
FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);
	WIDTH: 100%;
	BOTTOM: 0px;
	HEIGHT: 30px
}
#slideshow_photo {
	POSITION: absolute;
	WIDTH: 100%;
	HEIGHT: 100%;
	CURSOR: pointer
}
#slideshow_photo A {
	Z-INDEX: 1;
	BORDER-BOTTOM: 0px;
	POSITION: absolute;
	BORDER-LEFT: 0px;
	MARGIN: 0px;
	DISPLAY: block;
	BORDER-TOP: 0px;
	TOP: 0px;
	BORDER-RIGHT: 0px;
	LEFT: 0px
}
#slideshow_footbar .slideshow-bt {
	BACKGROUND-COLOR: #d2d3d4;
	MARGIN: 10px 10px 0px 0px;
	WIDTH: 10px;
	DISPLAY: inline;
	FLOAT: right;
	HEIGHT: 10px;
	FONT-SIZE: 0px
}
#slideshow_footbar .bt-on {
	BACKGROUND-COLOR: #30b1eb
}
