.div{
	border:1px solid #2e9fd2; font-size:12px; 
	text-align:center; background:#ddffdd; 
	margin:0 auto; color:#333333;-moz-border-radius:3px;
	-webkit-border-radius:3px; border-radius:3px;
	-khtml-border-radius:3px;padding:20px;line-height:26px;width:980px;
	margin-top:40px;
}
a{text-decoration: none;}