
/* applyclub
 * ---------------------------------------------------------------------------------------- */	
 
 	.applyClubTable				{ position: relative; margin: 100px auto; width: 600px; background-color: rgba(255,255,255,0.8); }
 	.applyClubTable tr			{ height: 40px; }
 	.applyClubTable th			{ width: 120px; padding-right: 6px; text-align: right; font-weight: normal; color: #333; vertical-align: top; }
 	.applyClubTable th label	{ display: block; margin-top: 11px; }
 	.applyClubTable thead th    { background-color: #eee; text-align: center; vertical-align: middle; }
 	.applyClubTable td			{ color: #666; }
 	.applyClubTable_text		{ width: 200px; height: 30px; border: 1px solid #eee; padding-left: 6px; }
 	.applyClubTable_readOL		{ width: 120px; height: 30px; border: 1px solid #eee; background-color: #f8f8f8; padding-left: 6px; color: #777; }
 	.applyClubTable select      { width: 120px; padding: 7px 2px; border: 1px solid #eee; }
 	.applyClubTable textarea	{ margin-bottom: 8px; width: 400px; height: 100px; resize: none; border: 1px solid #ddd; padding:5px; }
 	.applyClubTable_submit		{ width: 100px; height: 30px; border: none; background-color: #c99700; color: #fff; }
 	.applyClubTable input[type=text]	{ width:250px; height:26px; border: 1px solid #ddd; padding:0 5px; }
 	
 /* club
 * ---------------------------------------------------------------------------------------- */	
 
 	.club_secNav			{ margin: 5px; width: 700px; background-color: #f8f8f8; line-height: 30px; }
 	.club_secNav a			{ display: inline-block; margin-left: -5px; height: 30px; background-color: #f1f1f1; padding: 0 6px; color: #7a7256; }
 	.club_secNav a:hover	{ background-color: #e8e8e8;  }
 	
 	.clubList_thead			{ background-color: #f3f3f3; line-height: 35px; }
 	.clubList_tbody	tr		{ height: 80px; border-top: 1px solid #f3f3f3; text-align: center; }
 	.clubList_tbody	img		{ height: 80px; }
 	.club_category a		{ line-height: 35px; display: block; float: left; padding: 0 14px; margin: 4px 0 2px 3px; background-color: #fff; }
 	
 	.clubmain_left{ float: left; width: 360px; height: 625px; }
 	.club_box1{ margin: 10px 5px 0 5px; width: 330px; height: 280px; overflow: hidden; background-color: #fff; padding: 10px; }
 	.club_box2{ margin: 10px 5px 0 5px; width: 330px; height: 590px; overflow: hidden; background-color: #fff; padding: 10px; overflow-y: scroll; }
 	.clubmain_left .logoImg{ display: block; float: left; width: 100px; height: 100px; }
 	.clubmain_left .club_name{ display: block; float: left; margin-left: 8px; width: 220px; height: 100px;  font: 20px/30px "Microsoft Yahei"; color: #333; }
 	.clubmain_left .club_info{ display: block; float: left; margin-top: 15px; width: 330px; text-indent: 2em; color: #666; }
 	
 	.clubmain_left .club_act_box{ position: relative; margin: 0 0 10px 0; width: 315px; height: 200px; }
 	.clubmain_left .club_act_img{ position: absolute; width: 315px; height: 200px; overflow: hidden; }
 	.clubmain_left .act_photo{ display: block; top: 0; left: 0; width: 315px; }
 	.clubmain_left .club_act_info{ position: absolute; top: 0; left: 0; width: 315px; height: 200px; background-color: rgba(20,20,20,0.7); color: #fff; }
 	
 	.clubmain_left .club_act_title{ display: block; margin: 30px 8px 10px 8px; font: bold 16px/24px "Microsoft Yahei"; }
 	.clubmain_left .club_act_p{ display: block; margin: 0 8px 10px 8px; }
 	.clubmain_left .club_act_li1{ margin: 0 68px 8px 8px; color: #ddd; }
 	.clubmain_left .club_act_li2{ display: block; margin: 0 8px 8px 8px; color: #ddd; }
 	
 	.club_act_info				{ position: relative; }
 	.club_act_info .share		{ display: block; position: absolute; bottom: 0px; width: 100%; height: 30px; line-height: 30px; background-color: rgba(0,0,0,0.5); text-indent: 10px; }
 	.club_act_info .share a		{ color: #fff; }
 	
 	/* */
 	
 	.h2_title				{ font-size:24px; float:left; }
 	.fatie					{ line-height:24px; display:block; float:left; width:70px; height:24px; background-color:#c99700; color:#fff; text-align:center; margin:6px 0 30px 30px; }
 	.tiezi_ul > li			{ line-height:28px; border-top:1px dashed #ddd; }